.affiliateImg {
    background: url('../../assets/img/imgaffiliate.jpg');  
    width: 100%;
    height: 273px !important;
    background-size: 617px;
    background-position: center;
}
.affiliateContainer {
    transform: translateY(97px) !important;
    height: 370px;
}
.affiliateGrid {
    flex-direction: column-reverse;
    height: 370px;
}
.refLink {
    border-bottom: 1px solid #eee;
    margin-left: 10px;
    font-weight: bold;
    color: #6b6b6b;
}

.backParent {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}