.imgdeposit{
    width: 70px;

}
.textBalance{
    font-weight: bold;
    color:#3d3737;
    border-bottom: 3px solid #5d5d5d;
}
.Balance{
    margin: 10%;
    text-align: center;
border: hidden;
box-shadow: 5px 5px 5px  5px #bab8b8 ;
    height: 800px;
    background-color: #fafafa;
}
.imgchasbide3{

border-radius: 50%;
height: 300px;

}
.inputdeposit{
    border: hidden;
    border-bottom: 3px solid #8a8a8a;
}