.listMenu {
  width: 250px;
}
.Deposita{
  

}
.btndeposit{
margin-left: 10px;
width: 50px;
border: 0px;
border-top: 3px solid #514f4f;
}
.Deposit{
 padding: 30px;
text-align: center;
width: 500px;
margin-right: 550px;
box-shadow: 0 0 25px 7px #cac9c9;
width: 100%px;
 margin-top: 45px;
 border-radius: 5%;


}
.btnsubwithdraw1{
  margin-top: 30px;
  width: 70px;
  height: 45px;
  background: #183282;
  color: white;
  border-radius: 10%;
}
.imgdeposit3{
margin-top: 20px;
  width: 50px;
}
.imgdeposit2{
  margin-top: 20px;
  width: 50px;
}
.imgdeposit{

  width: 50px;
}
.inputdeposit{
width: 340px;
margin-inline-end: 10px;
padding-inline-end: 10px;
border: 0px;
}
.ldeposit{
border-bottom: 3px solid #514f4f;

}
.imgWithdraw{
  border-radius: 5%;
  margin-block-end: 20px;
  width: 100%;
}
.textWithdraw{
  opacity: 0.7;


}
.textDeposit{
text-align: center;

}
.btnsubwithdraw{
height: 30px;
  background: #1621ff;
width: 80px;
color: white;
}
.btn2Withdraw{
  letter-spacing: inherit;
  animation-duration: 10ms;
margin-block-end: 20px;
margin-right: 5px;
background: #e8e2e2;
opacity: 0.7;
width: 400px;
}
.btnWithdraw{
  opacity: 0.7;
  margin-right: 5px;
letter-spacing: inherit;
animation-duration: 10ms;
background: #e8e2e2;
width: 50px;
}
.withdraw{
  text-align: center;
  box-shadow: 0 0 25px 7px #cac9c9;
  width: 700px;
  margin-right: 450px;
  margin-top: 45px;
  clear: both;
  margin: auto;
  border-radius: 5%;

}
.affiliate{
  text-align: center;
  box-shadow: 0 0 25px 7px #cac9c9;
  width: 700px;
  margin-right: 450px;
  margin-top: 45px;
  clear: both;
  margin: auto;
  border-radius: 5%;
}
.textaff{
display: center;
padding-top: 0px;
color: #565656;
margin-block-end: 20px;
margin: auto;
}
.imgaffiliate{
 border-radius: 5%;
margin-block-end: 20px;
width: 100%; 
}
.inputaff{
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  width: auto;

}
.linkaff{
color: #565656

}
