.Homeimg{
    background: url(../../assets/img/backgroundHome.jpg) no-repeat;
    width: 100%;
   height: 17rem !important;
   text-align: center;
    background-size: 100% ;
    filter: blur(2px);
    
    }
    .imgchasbide2{

        float: center;
              width: 30%;
              border-radius: 50%;
              margin-top: 20px;
              padding: 0.5%;
           margin-right: 34%;
              box-shadow: 5px 5px 8px #a5a2a2
    }
    .text2{
      text-align: center;
      display: inline-block;
      text-align: end;
      width: 90%;
padding: 10px;
      font-size: 13px;
      border-radius: 30px;
      box-shadow: 5px 5px 8px #a5a2a2;
    margin: 3%;
    }
    .imgchasbide{
float: left;
      width: 30%;
      border-radius: 50%;
      margin-top: 30px;
      padding: 0.5%;
      margin-left: 20px;
      box-shadow: 5px 5px 8px #a5a2a2
    }
    .text1{
      text-align: center;
      display: inline-block;
      text-align: end;
      width: 60%;
      margin-top: 10%;
      font-size: 13px;
      border-radius: 30px;
      box-shadow: 5px 5px 8px #a5a2a2;
      padding-left: 3%;
    }
    .text{
       text-align: center;
    display: inline-block;
  
    text-align: end;
padding: 10px;
margin-right: 5px;
    width: 60%;
  border-radius: 30px;
box-shadow: 5px 5px 8px #a5a2a2;
    margin-top: 10%;
    font-size: 13px;
    }
    .imgchasbide1{
      padding: 0.5%;
      width: 30%;
      border-radius: 50%;
  float: right;
  margin-right: 10px;

box-shadow: 5px 5px 8px #a5a2a2
}
    .Homepan{
border-bottom-left-radius: 500px !important;
border-bottom-right-radius: 500px !important;
border-top: 10px double!important;
      border-radius: 20%;
      font-size: 20px;
      text-align: center;
      height: 110px;
    border: hidden;
 background: url(../../assets/img/gifbackground.gif) no-repeat ;
 background-size: 108%;
margin-top: 10px;
border-top: 3px solid black;
width:200px;
padding-top: 10px;
color: black;
margin-right: 28%;
opacity: 0.9;
font-family: "Lucida Console", Courier, monospace;
    }
  
    .Home{
    background-color: #dedede;
      margin: auto;
clear: both;
    }
    .HomeLogin{
           
            background-color: #11183e; 
            color: #d5d1d1;
            font-weight: bold;
            border: hidden;
           position: fixed;
         top: 35%;
         left: 11%;
            transform: translate(-50%, -50%);
            z-index: 2;
            border-radius: 20%;
            padding: 1%;
            border-bottom: 5px solid #ae0000;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .HomeSignup{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #d5d1d1;
        position: fixed;
        font-weight: bold;
       border-bottom: 5px solid #ae0000;
     top: 25%;
     left: 11%;
        transform: translate(-50%, -50%);
        z-index: 2;
      border-radius: 20%;
        padding: 1%;
        background-color: #11183e; 
        
    
    }